.add-todo {
  &__input {
    width: 75%;
  }
  //При &__button стили не применяются
  .add-todo__button {
    background-color: #009447;
    color: white;
    opacity: 0.6;
    &--active {
      opacity: 1;
      }
  }

  &__warn {
    color: red;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
}
